# ----------------------------------------------------------------------#
# Java defaults
# ----------------------------------------------------------------------#
*.class
*.war
*.ear
 
# ----------------------------------------------------------------------#
# Eclipse-specific
# ----------------------------------------------------------------------#
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
local.properties
.settings/
.project
.classpath
.externalToolBuilders/
.launch
.buildpath
 
# ----------------------------------------------------------------------#
# Mule/Anypoint Studio-specific files
# ----------------------------------------------------------------------#
.studio/
caches/
flows/
target/
.mflow
.mule/
mule-project.xml
studio_id.xml
${sys:mule.home}/
 
# ----------------------------------------------------------------------#
# IntelliJ specific files
# ----------------------------------------------------------------------#
.idea/
*.iml


# ----------------------------------------------------------------------#
# NetBeans
# ----------------------------------------------------------------------#
nb-configuration.xml