.DS_Store
circuitbreaker/.settings/org.eclipse.core.resources.prefs
circuitbreaker/.settings/org.eclipse.jdt.core.prefs
circuitbreaker/.settings/org.eclipse.m2e.core.prefs
org.eclipse.core.resources.prefs
.project
